/.venv
/live2d_py-0.5.4-cp313-cp313-linux_x86_64.whl
/models
/json
/TRAITEMENT
/__pycache__
/utils/__pycache__
/long_term_memory/__pycache__
/utils/emotion/__pycache__
config.json
/dashboard/node_modules
/dashboard/package-lock.json